<!DOCTYPE html>
html
	head
		title A beautiful website made with Jekyll
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="author", content="Steven To")
		meta(name="description", content="A beautiful website")

	body

		h1 Jekyll is good
		p Lorem Jekyll.